<Container>
  <h1 class='title s-1'>Tools</h1>
</Container>

<Container @size='xs'>
  <Card>
    <p class='pb-1'><a href='/tools/ding' class='title s-2'>Ding</a></p>
    <p>Ding is a tool to send yourself emails when tasks are done</p>
  </Card>
</Container>

{{outlet}}