@import "util/colors.scss";

.title {
	&.s-1 {
		color: $color-1;
		font-size: 3rem;
		font-weight: 500;
	}

	&.s-2 {
		color: $color-2;
		font-size: 2rem;
		font-weight: 500;
	}

	&.s-3 {
		font-size: 1.5rem;
		font-weight: 500;
	}
}