$color-1: rgb(0, 255, 157);
$color-1-dark: rgb(0, 191, 118);

$color-2: rgb(42, 182, 252);
$color-2-dark: rgb(34, 148, 206);


$background-1: black;

$background-2: rgb(17, 20, 21);

$background-input: rgb(30, 34, 35);
$background-input-hover: rgb(25, 28, 29);
$background-input-active: rgb(42, 47, 48);


$notification-info: rgb(0, 157, 255);
$notification-info-text: white;

$notification-alert: rgb(255, 71, 99);
$notification-alert-text: white;
