<Container>
  <nav class='navbar'>
    <a href='/' class='navbar-brand'>Henrik Næss</a>
    <div class='navbar-items'>
      <Navbar::item @title='Contact' @to='/contact' />
      <Navbar::item @title='Blog' @to='/blog' />
      <Navbar::item @title='Tools' @to='/tools' />
    </div>
  </nav>
</Container>